<?xml version="1.0"?>
<config>
    <modules>
        <Pushys_Once>
            <version>0.1.0</version>
        </Pushys_Once>
    </modules>
    <global>
        <models>
            <once>
                <class>Pushys_Once_Model</class>
            </once>
        </models>
        <helpers>
            <once>
                <class>Pushys_Once_Helper</class>
            </once>
        </helpers>
        <blocks>
            <once>
                <class>Pushys_Once_Block</class>
            </once>
        </blocks>
        <events>
            <sales_order_place_after>
                <observers>
                    <save_once_credit>
                        <class>once/observer</class>
                        <method>saveOnceCredit</method>
                    </save_once_credit>
                </observers>
            </sales_order_place_after>
        </events>        
    </global>
    <default>
        <payment>
            <once>
                <active>1</active>
                <model>once/standard</model>
                <title>ONCE Credit</title>
                <test_mode>0</test_mode> 
                <min_order_total>500</min_order_total>   			
            </once>
        </payment>
    </default>          	
    <frontend>
        <routers>
            <once>
                <use>standard</use>
                <args>
                    <module>Pushys_Once</module>
                    <frontName>once</frontName>
                </args>
            </once>
        </routers>
    </frontend>
</config>